
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/.suo
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/Current/Browse.VC.db
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/Current/Browse.VC.db-shm
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/Current/Browse.VC.db-wal
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/Current/Browse.VC.opendb
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/Current/ipch/AutoPCH/db6c7907d6b1c3c8/NZ BLOOD BANK SYSTEM.ipch
NZ Blood Bank System/.vs/NZ Blood Bank System/project-colors.json
NZ Blood Bank System/.vs/NZ Blood Bank System/v17/Current/ipch/AutoPCH/fcfcef310085a7f7/READ_A_FILE_TEST.ipch
NZ Blood Bank System/Debug/NZ Blood Bank System.exe
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.exe.recipe
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.ilk
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.log
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.obj
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood.07a47a9a.tlog/CL.command.1.tlog
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood.07a47a9a.tlog/CL.read.1.tlog
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.exe.recipe
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.ilk
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.log
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.obj
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood.07a47a9a.tlog/CL.command.1.tlog
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood.07a47a9a.tlog/CL.read.1.tlog
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood Bank System.exe.recipe
NZ Blood Bank System/NZ Blood Bank System/Debug/NZ Blood.07a47a9a.tlog/CL.command.1.tlog
